[Unit]
Description=An advanced keyboard manager

[Service]
ExecStart=kmonad "%h/.config/kmonad/%i.conf"
Restart=always
RestartSec=3
Nice=-20

[Install]
WantedBy=default.target
