[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=sway-session.target

[Service]
Type=simple
Environment=LOCK="%h/.local/bin/lockw.sh"
ExecStart=/usr/bin/swayidle -w timeout 300 '${LOCK}' timeout 600 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' before-sleep '${LOCK}'
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
