#ifdef SRVR_Arch23
    Xft.dpi:		157
    Xcursor.size:	32
#endif

#ifdef SRVR_13
    Xft.dpi:		165
#endif

Xft.autohint:		0
Xft.lcdfilter:		lcddefault
Xft.hintstyle:		none
Xft.hinting:		0
Xft.antialias:		1
Xft.rgba:     		rgb

!Xcursor.theme:		Bridge

#include ".cache/wal/colors.Xresources"
