[Desktop Entry]
Type=Application
Name=gnome-disk-utility notification plugin for GNOME Settings Daemon
Exec=
# /usr/lib/gsd-disk-utility-notify
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-AutoRestart=true
