@import url('../../.cache/wal/colors-trans.css');

* {
  border: none;
  border-radius: 0;
  border-style: solid;
  font-family: "sans-serif", "Symbols Nerd Font";
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  border-bottom: 2px solid transparent;
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces {
  margin: 0 5px;
}
#workspaces button {
  padding: 0px 5px 2px;
  background: transparent;
  color: @foreground;
  border-color: transparent;
  border-width: 2px 0;
}

#workspaces button.visible {
  border-color: @color5;
}

#workspaces button.focused {
  border-color: @foreground;
}

#workspaces button.urgent {
  border-color: @color0;
  animation: blink 1.5s ease infinite;
}

#window,
#clock, 
#battery, 
#cpu, 
#load,
#temperature,
#memory, 
#pulseaudio, 
#tray, 
#mode, 
#idle_inhibitor, 
#temperature, 
#custom-fan, 
#power-profiles-daemon {
  padding: 0px 5px 2px;
  margin: 0 5px;
  color: @foreground;
  border-color: transparent;
  border-width: 2px 0;
}

#mode {
  background: @foreground;
  color: @background;
  border-color: @foregroundTrans;
}

/** SYSTEM SECTION **/

#cpu,
#load,
#custom-fan,
#memory,
#temperature {
  background: @color8;
  margin: 3px 0;
}
#cpu {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#memory {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 3px;
}

#cpu.high {
  border-color: @color3;
}
#cpu.max {
  border-color: @color1;
}

#temperature.critical {
  border-color: @color1;
}


/** END SYSTEM **/

/** BATTERY SECTION **/

#power-profiles-daemon,
#battery {
  background: @color8;
  margin: 3px 0;
}
#power-profiles-daemon {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 3px;
  padding: 0 5px;
}
#battery {
  border-radius: 10px;
}

#battery.power {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 5px;
}

#power-profiles-daemon.power-saver {
  background-color: @color3;
}
#power-profiles-daemon.performance {
  background-color: @color1;
}

#battery.charging:not(.power) {
  border-color: @color2;
}
#battery.plugged:not(.power) {
  border-color: @foreground;
}
#battery.low.discharging:not(.power) {
  border-color: @color3;
}
#battery.warning.discharging:not(.power) {
  border-color: @color1;
}
#battery.critical.discharging:not(.power) {
  border-color: @color1;
  animation: blink 1s ease-out infinite;
}
@keyframes blink {
  50% {
    /*color: @foreground;*/
    background-color: @color1;
  }
}

/** END BATTERY **/

#pulseaudio.muted {
  border-color: @foreground;
}

#custom-fan.low {
  color: @color2;
}

#custom-fan.medium {
  color: @color3;
}

#custom-fan.high {
  color: @color1;
}

#idle_inhibitor.activated {
  border-color: @foreground;
}

@keyframes dotblink {
    50% {
      color: grey;
    }
}
